@import 'variables';

#footer {
  // @include test();
}

.arrow-container {
  // @include test();
  height: 100%;
  width: auto;
  margin: auto;
  float: right;
  padding-right: 50px;
}

.control-container {
  // @include test();
  height: 100%;
  width: auto;
  margin: auto;
  float: left;
}
