@import 'variables';


.navmenu-fixed-left {
  border-width: 0 0 0 0;
}

#sidebar {
  margin-top: $header-height + 10;
}

.sidebar-container {
  height: 100%;
  overflow-y: scroll;
}

li.withSubsection {
  text-align: left;
  text-decoration: underline;
  margin-left: 5%;
  list-style-type: none;
}

.togglePane.glyphicon {
  position: absolute;
  right: 0;
  font-size: 50%;
  cursor: pointer;
}

.paneHeader {
  position: relative;
}

.headerColon {
  padding-right: 5px;
}

.pane:not([data-selector='galleries']) {
  display: none;
}
