$blue: #321FBF;
$black: #2a2529;
$pink: #fb8b90;

$body-font: 'Vollkorn', 'Georgia', serif;

$header-height: 5%;
$header-bg: transparent;

@mixin container() {
  // border: 1px dotted red;
  float: left;
  margin: 1%;
  top: $header-height;
  bottom: $header-height;
  max-height: 100%;

  * {
    max-width: 100%;
    max-height: 100%;
  }
}
