@import 'variables';

.fullpage-container {
  max-height: 90%;
  max-width: 100%;
  width: 100%;
  height: 90%;
  min-width: 100%;
  min-height: 90%;
  text-align: center;
}

.title {
  margin-top: 1%;
  margin-right: 10px;
}

.currentGallery {
  color: $blue;
  font-style: italic;
}

.currentGallery:hover {
  color: $pink;
  text-decoration: underline;
}

p.caption {
  display: none;
  font-style: italic;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px;
  @include transition(0.2s);
}

.contentContainer {
  display: inline-block;
  position: relative;
  margin: auto;
  overflow: hidden;
  cursor: pointer;
}

.contentContainer:hover, .contentContainer:active {
  .image-wrapper {
    @include filter(10px);
    opacity: 0.6;
  }

  p.caption {
    display: block;
  }
  
}

.image-wrapper {
  @include transition(0.2s);
}

p.about {
  text-align: right;
}

.header {
  text-decoration: underline;
}

span.glyphicon {
  color: $black;
  @include transition(0.2s);
}

span.glyphicon:hover, span.glyphicon:active {
  color: $blue;
}


@import 'sidebar';
@import 'footer';
@import 'header';