@import 'variables';

.site-wrap {
  min-width: 100%;
  min-height: 100%;
  position: relative;
  bottom: 100%;
  left: 0;
  z-index: 1;
  background-color: white;
}

.column3-container {
  width: 25%;
  max-width: 300px;
  float: left;
  // border: 1px solid red;
}

.column6-container {
  width: 50%;
  max-width: 600px;
  float: left;
  // border: 1px solid red;
  top: $header-height;
  bottom: $header-height;
  margin: auto;
}

.column-pane {
  width: 90%;
  margin-left: 3%;
  // border: 1px dotted red;
}

@import 'sidebar';
@import 'footer';
@import 'header';