@import 'variables';


.fullpage-container {
  background-color: red;
}

.title {
  margin-top: 1%;
  margin-right: 10px;
}

.currentGallery {
  color: $blue;
  font-style: italic;
}

.currentGallery:hover {
  color: $pink;
  text-decoration: underline;
}

p.caption {
  font-style: italic;
  max-width: 320px;
  text-align: center;
  margin: auto;
}

p.about {
  text-align: right;
}

.header {
  text-decoration: underline;
}

@import 'sidebar';
@import 'footer';
@import 'header';