@import 'variables';

.fullpage-container {
  max-height: 90%;
  max-width: 100%;
  width: 100%;
  height: 90%;
  min-width: 100%;
  min-height: 90%;
}

.title {
  margin-top: 1%;
  margin-right: 10px;
}

.currentGallery {
  color: $blue;
  font-style: italic;
}

.currentGallery:hover {
  color: $pink;
  text-decoration: underline;
}

p.caption {
  font-style: italic;
  text-align: center;
  display: table-caption;
  caption-side: bottom;
}

p.about {
  text-align: right;
}

.header {
  text-decoration: underline;
}

.imageContainer {
  display: table;
  margin: auto;
}

@import 'sidebar';
@import 'footer';
@import 'header';