@import 'variables';

* {
  font-family: $body-font;
}

a {
  color: $blue;
  font-family: $body-font;
  text-decoration: none;
}
a:hover {
  color: $pink;
}
a:visited {
  color: $blue;
  font-family: $body-font;
  text-decoration: none;
}

p {
  color: $black;
}

h1 {
  display: inline-block;
  margin: 0;
}

img, video {
  max-width: 90%;
  max-height: 90%;
  margin: auto;
}

ul {
  text-align: right;
  list-style-type: initial;

  li:hover {
    list-style-type: circle;
  }
}

button {
  background: none;
  border: none;
  outline: 0;
}

@import 'classes';
