@import 'variables';

a {
  color: $blue;
  font-family: $body-font;
  text-decoration: underline;
}

a:hover {
  color: $pink;
}
.hover {
  color: $pink;
}

p {
  color: $black;
  font-family: $body-font;
}

h1 {
  display: inline-block;
  margin: 0;
}

* {
  font-family: $body-font;
}

img, video {
  max-width: 90%;
  max-height: 90%;
  margin: auto;
}

@import 'classes';
@import 'style';
