@import 'variables';

* {
  font-family: $body-font;
}

a {
  color: $blue;
  font-family: $body-font;
  text-decoration: none;
  @include transition($transition-default);
}
a:hover {
  color: $pink;
}
a:visited {
  color: $blue;
  font-family: $body-font;
  text-decoration: none;
}

p {
  color: $black;
}

h1 {
  display: inline-block;
  margin: 0;
  color: $black;
}

img, video {
  display: block;
  height: auto;
  width: auto;
  max-width: 1280px;
  max-height: 722px;
}

ul {
  text-align: right;
  list-style-type: initial;
  color: $black;

  li:not(.withSubsection):hover {
    list-style-type: circle;
  }

  li {
    color: inherit;
  }
}

button {
  background: none;
  border: none;
  outline: 0;
}



@import 'classes';
