#header.navbar.navbar-fixed-top
  .col-xs-12
    button(type='button' data-toggle='offcanvas' data-target='#sidebar' data-canvas='body')
    h1.title
      span.header= title
      span.colon.hidden-xs
    a.currentHash.hidden-xs
      h1.currentGallery


