nav#sidebar.navmenu.navmenu-fixed-left.offcanvas(role='navigation')
  .container-fluid
    ul.nav.navmenu-nav
      each section in sections
        if !section.galleries
          a(href= '#' + section.link)
            li= section.title
        else
          li= section.title
            ul
              each gal in section.galleries
                a(href='#' + gal.link)
                  li.subSection= gal.title