extends layout
block content
	ul.navigation
		each c in categories
			li.nav-item
				- var url = '/#' + c.title;
				a(href=url)= c.title
	input#nav-trigger.nav-trigger(type='checkbox')
	label(for='nav-trigger')
		span.glyphicon.glyphicon-menu-hamburger
	.site-wrap
		h1= title
