extends layout
block content
	include _header
	include _sidebar
	include _footer

	input#nav-trigger.nav-trigger(type='checkbox')
	label(for='nav-trigger')
		span.glyphicon.glyphicon-menu-hamburger

	.site-wrap
		#fullpage
			.section
				.column6-container
					img(src='build/media/landing/0.jpg')
			each gallery in galleries
				.section
					each obj in gallery.media
						.slide
							.column6-container
								- var video = (obj.src.indexOf('.mp4') > -1);
								if video
									video(src=obj.src controls type='video/mp4')
								else
									img(src=obj.src)
							if obj.caption
								.column3-container
									p.caption= obj.caption
						

block scripts
	script(type='text/javascript' src='/build/bower_components/fixie/fixie.min.js')
