extends layout
block content
	include _sidebar
	include _footer

	input#nav-trigger.nav-trigger(type='checkbox')
	label(for='nav-trigger')
		span.glyphicon.glyphicon-menu-hamburger

	.site-wrap
		h1#main-header= title
		- var i=0
		while i < 4
			p.fixie
			img.fixie
			- i++

block scripts
	script(type='text/javascript' src='/build/bower_components/fixie/fixie.min.js')
