extends layout
block content
	//- include _sidebar
	//- include _footer

	input#nav-trigger.nav-trigger(type='checkbox')
	label(for='nav-trigger')
		span.glyphicon.glyphicon-menu-hamburger

	.site-wrap
		include _header
		#fullpage
			.section
				- var src = 'build/media/landing/0/500.jpg';
				img(src=src)
			each gallery in galleries
				.section
					each obj in gallery.media
						.slide
							.main-content-container
								.main-content
									img(src=obj.src)
							if obj.caption
								.column-container
									.column-pane
										p= obj.caption
						

block scripts
	script(type='text/javascript' src='/build/bower_components/fixie/fixie.min.js')
