extends layout

block content

	#overlay
			.title
				h1
					a(href='' )= title
			.category
				h4
					a(href='#about' data-menuanchor='about') about
			.category				
				h4
					a(href='#work' data-menuanchor='work') work
			.category
				h4
					a(href='#cv' data-menuanchor='cv') cv
			.category
				h4
					a(href='#contact' data-menuanchor='contact') contact
	.fullpage
		.section.home
			.content
				img(src='/images/work/landing.jpg')
			
		.section(data-anchor='about').about
			.content
				h2.fixie
				section.fixie

		.section(data-anchor='work').work
			
			.slide.photoSlide
				//- button.btn.btn-lg.caption
				//- 	span.glyphicon.glyphicon-search
				img(src='/images/work/tumblr1.jpg')

			.slide.photoSlide
				//- h3.fixie.caption
				img(src='/images/work/tumblr2.jpg')

			.slide.photoSlide
				//- h3.fixie.caption
				img(src='/images/work/tumblr3.jpg')


			.slide.photoSlide
				//- h3.fixie.caption
				img(src='/images/work/tumblr4.jpg')

		.section(data-anchor='cv').cv
			.content
				h2.fixie
				section.fixie

		.section(data-anchor='contact').contact
			.content
				h2.fixie
				section.fixie


			
