extends layout
block content
	include _sidebar
	//- include _footer

	input#nav-trigger.nav-trigger(type='checkbox')
	label(for='nav-trigger')
		span.glyphicon.glyphicon-menu-hamburger

	.site-wrap
		include _header
		#fullpage
			.section
				- var src = 'build/media/landing/0/500.jpg';
				img(src=src)
			- var makePath = function(gallery) {
			- 	return 'build/media/' + gallery + '/'};
			each o in tags
				.section.main-content-container
					- var contentDir = makePath(o.id);
					.main-content
						p= contentDir
						//- ul
						//- 	each folder in contentDir
						//- 		li= folder
						img.fixie

block scripts
	script(type='text/javascript' src='/build/bower_components/fixie/fixie.min.js')
