extends layout

block content

	#overlay
			.title
				h1
					a(href='')= title
			.category
				p 
					a(href='#about') about
			.category				
				p 
					a(href='#work') work
			.category
				p 
					a(href='#cv') cv
			.category
				p 
					a(href='#contact') contact
	.fullpage
		.section(data-anchor='about')
			.content
				h2.fixie
				section.fixie

		.section(data-anchor='work')
			- var i=0
			while i < 10
				.slide
					button.btn.btn-lg.caption
						span.glyphicon.glyphicon-search
					img(src='https://upload.wikimedia.org/wikipedia/commons/3/36/Hopetoun_falls.jpg' border='5')

				.slide
					h3.fixie.caption
					img.fixie
				- i++

		.section(data-anchor='cv')
			.content
				h2.fixie
				section.fixie

		.section(data-anchor='contact')
			.content
				h2.fixie
				section.fixie


			
