extends layout
block content
	include _sidebar
	include _footer

	input#nav-trigger.nav-trigger(type='checkbox')
	label(for='nav-trigger')
		span.glyphicon.glyphicon-menu-hamburger

	.site-wrap
		include _header
		#fullpage
			each c in categories
				.section
					p= c.title


block scripts
	script(type='text/javascript' src='/build/bower_components/fixie/fixie.min.js')
